= link_to "<< Back to List", "/", :class => 'back-link'
.subject.edit
  %h2 Update Subject
  = form_for :subject, :url => {:action => 'update', :id => @subject.id} do |f|
    = render :partial => "form", :locals => {:f => f}
    / THIS CODE RENDER THE PARTIALS WITH :LOCALS SETS THE F IN PARTIAL TO THE F WE HAVE SET FROM THE FROM DO

  .form-buttons
    = submit_tag "Create Subject"
